<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Game</title>
</head>
<body>
  <% if (singlePlayer) { %>
    <iframe src="<%= host %>/ball?single=true" class="ball-section"></iframe>
    <iframe src="<%= host %>/pad?single=true" class="fullscreen"></iframe>
  <% } else { %>
    <iframe src="<%= host %>/ball" class="ball-section"></iframe>
    <iframe src="<%= host %>/pad" class="fullscreen"></iframe>
  <% } %>
</body>
</html>
