<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>Pong game</title>
</head>
<body>
  <h1>Multiplayer pong</h1>


  <div id="interface">
    <div class="pad pad-left"></div>
    <div class="pad pad-right" style="position:absolute;right:0;top:<%= padRight.y %>px;height:<%= padRight.padHeight %>;width:<%= padRight.padWidth %>;right:0"></div>
  </div>

  <form method="post" action="/updatePad">
    <input type="submit" name="direction" value="up">
    <input type="submit" name="direction" value="down">
  </form>
</body>
</html>
