* {
  margin: 0;
  padding: 0;
  padding: 0;
}

#pong-game {
  width: 300px;
  height: 200px;
  border: solid 1px black;
  position: relative;
}

.pad {
  position: absolute;
  height: 30%;
  width: 20px;
  background: black;
  top: 35%;
}

.pad:first-of-type {
  left: 0;
}

.pad:last-of-type {
  right: 0;
}
